In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [8]:
df = pd.read_csv(r'train.csv')

In [9]:
df.columns

Index(['Unnamed: 0', 'review', 'recommendation', 'game_name'], dtype='object')

In [10]:
unique_values = df['recommendation'].unique()
print(unique_values)

['Not Recommended' 'Recommended']

In [11]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['recommendation'] = label_encoder.fit_transform(df['recommendation'])

In [12]:
count_class_0 = len(df[df['recommendation'] == 0])
count_class_1 = len(df[df['recommendation'] == 1])
print(f'jumlah 0 = {count_class_0}')
print(f'jumlah 1 = {count_class_1}')

jumlah 0 = 9311
jumlah 1 = 40668

In [14]:
class_0 = df[df['recommendation'] == 0]
class_1 = df[df['recommendation'] == 1]

In [19]:
class_1_under = class_1.sample(count_class_0)
count_class_1_under = len(class_1_under)

In [20]:
print(f'jumlah 0 = {count_class_0}')
print(f'jumlah 1 under = {count_class_1_under}')

jumlah 0 = 9311
jumlah 1 under = 9311

In [21]:
data_undersampled = pd.concat([class_1_under, class_0], axis=0)

In [22]:
data_undersampled = data_undersampled.sample(frac=1).reset_index(drop=True)

In [25]:
data_undersampled.head()

,Unnamed: 0,review,recommendation,game_name
0,739468,"2023 Now I have played about 4 hours of CoH3, ...",1,Company of Heroes 3
1,658876,2021 Early Access Review Extremely addicting. ...,1,Dyson Sphere Program
2,318142,If you have the specific brand of mental illne...,1,Crime Scene Cleaner
3,266743,Early Access Review ark 2 better be this good,1,Palworld
4,293414,"The Game is Dead, EA Killed it, nobody else is...",0,STAR WARS™ Battlefront™ II

In [24]:
data_undersampled.to_csv('train_rev.csv')